html, body, #root, .App, .Home, .Menu {
  height: 100%;
}
.App {
  margin: auto;
  width: 100%;
  text-align: center;
}

.button {
  font-size: 2em;
  color: black;
  text-decoration: none;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 15px;
  background-color: #ADDCE5;
}

a {
  color: black;
}
