.Home {
  text-align: center;
}
.Home #logo {
  margin-top: 150px;
  margin-bottom: 120px;
}
.Home #version {
  margin-left: 110px;
  margin-top: -5px;
}

.Home .button {
  font-size: 2em;
  color: black;
  text-decoration: none;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 15px;
  background-color: #ADDCE5;
}
